{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "loose": true
      },
      "@babel/typescript"
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 2
      }
    ],
    "@babel/proposal-class-properties",
    "@babel/proposal-export-default-from"
  ]
}
