/**index.wxss**/
@import "share";

.userinfo {
  @extend %center-flex;

  flex-direction: column;
  align-items: center;
}

.userinfo-avatar {
  $size: 128rpx;
  width: $size;
  height: $size;
  margin: 20rpx;
  border-radius: 50%;
}

.userinfo-nickname {
  color: #aaa;
}

.usermotto {
  margin-top: 200px;
}
